<%- include('parts/header') %> <% var error%>

<section class="my-4 py-4">
	<div class="container">
		<h1 class="text-center">Add New Advertisement</h1>

		<form class="mt-4" method="POST" enctype="multipart/form-data">
			<% if(error) {%>
			<div class="alert alert-danger"><%= error %></div>
			<% } %>
			<input
				type="text"
				class="form-control form-control-lg"
				name="title"
				placeholder="Title (Subject)"
				required
			/>
			<select
				name="category"
				class="form-select form-select-lg mt-2"
				required
			>
				<% for(let category of categories) {%>
				<option value="<%= category._id%>"><%= category.name%></option>
				<%}%>
			</select>
			<input
				type="text"
				name="price"
				class="form-control form-control-lg mt-2"
				placeholder="Price"
				required
			/>

			<input
				type="text"
				name="phone"
				class="form-control form-control-lg mt-2"
				placeholder="Phone_Number"
				required
			/>

			<input
				class="dropzone mt-2 w-100"
				type="file"
				placeholder="Images"
				name="photos"
				multiple
				id="my-great-dropzone"
				accept=".png, .jpeg, .jpg"
			/>

			<textarea
				name="description"
				id="description"
				class="form-control form-control-lg mt-2"
				placeholder="Description"
			></textarea>

			<button class="mt-4 btn btn-primary btn-lg w-100">Add</button>
		</form>
	</div>
</section>

<script></script>

<%- include('parts/footer') %>
